@model IEnumerable<mobilestore_website1._1.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBuilding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBuilding)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
